* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-image: url(./image/47b34c0f5db871cf09b55139019b0548.gif);
    background-repeat: no-repeat;
    background-position: fixed;
    background-size: cover;
}

input {
    width: 20%;
    height: 40px;
    padding: 5px;
    border: 3px solid #00c0ff;
    outline: none;
}